.animate__fadeInLeft {
    --animate-duration: 4s;
}

.animate__fadeInRight {
    --animate-duration: 4s;
}

.animate__slideInLeft {
    --animate-duration: 3s;
}

.animate__slideInRight {
    --animate-duration: 3s;
}

.animate__slideInUp {
    --animate-duration: 3s;
}

.page_redirection {
    text-decoration: none;
    color: rgb(201, 100, 100);
}

.grad {
    background: linear-gradient(to bottom, #bdc3c7 0%, #2c3e50 100%);
    transition: 0.2s;
    transition-timing-function: ease;
}

.grad:hover {
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
}

.imgradiusright {
    transition: 0.3s;
    transition-timing-function: ease;
}

.imgradiusright:hover {
    border-bottom-right-radius: 10%;
}

.imgradiusleft {
    transition: 0.3s;
    transition-timing-function: ease;
}

.imgradiusleft:hover {
    border-bottom-left-radius: 10%;
}